/* line 1, app/assets/stylesheets/footer.css.scss */
footer {
  background: #f3f3f3;
  border-top: 1px solid #d7d7d7;
  padding: 3.55em 0 2.55em 0;
}

/* line 7, app/assets/stylesheets/footer.css.scss */
.logo-footer {
  background: none, url(/eforms-footer_r.svg) no-repeat;
  background-size: 120px auto;
  display: block;
  width: 120px;
  height: 45px;
  position: relative;
  top: -10px;
  left: -4px;
}

/* line 18, app/assets/stylesheets/footer.css.scss */
.footer-ul-li > ul {
  line-height: 2.4em;
  list-style: none;
  padding: 0;
}

/* line 24, app/assets/stylesheets/footer.css.scss */
.footer-ul-li > ul > li > a {
  text-decoration: none;
  color: #5d5d5d;
}

/* line 29, app/assets/stylesheets/footer.css.scss */
.footer-rating-list > ul {
  list-style: none;
  padding: 0;
}
