<%= render 'layouts/breadcrumb_headings' %>

<div class="row">

  <!-- Subscription form -->
  <div class="col-md-8">

    <!-- Monthly plan card -->

    <div class="alert alert-dismissible alert-danger">
      <div id="flash_alert">
        <p>
          Your document was saved to you account. Try one of our subscriptions to print your document and access all
          features.
        </p>
      </div>
    </div>

    <div class="plan-heading subscription_highlight">
      <h2>Monthly Plan</h2>
      <div class="plan-description">
        <p></p>
        <ul>
          <li><strong>7-Day Free Trial</strong> - Unlimited access to all documents</li>
          <li><span style="background-color: initial; font-weight: inherit;">No commitment, cancel anytime</span></li>
          <li>After 7 days automatically renews at $39 / month</li>
        </ul>
        <p></p>
      </div>

      <div class="clearfix">
        <div class="plan-description-buttons">
          <button type="button" onclick="window.location.href='<%= payments_path(id: @subscription.id) %>'" class="btn btn-primary-custom">
            Select Plan <i class="fa fa-arrow-right icon-right"></i>
          </button>
        </div>

        <div class="plan-description-price">
          Free
        </div>
      </div>
    </div>

    <!-- Single document card -->
    <div class="plan-heading">
      <h2>Single Document</h2>
      <p>Alaska Eviction Notice (Notice to Quit) Form</p>
      <div class="plan-description">
        <p></p>
        <ul>
          <li><strong>One time purchase</strong>- just this document</li>
          <li>Unlimited access and revisions of one documents</li>
          <li>No commitment or monthly fees</li>
        </ul>
        <p></p>
      </div>

      <div class="clearfix">
        <div class="plan-description-buttons">
          <button type="button" onclick="window.location.href='<%= payments_path(id: @subscription.id) %>'" class="btn btn-primary-custom">
            Select Plan <i class="fa fa-arrow-right icon-right"></i>
          </button>
        </div>

        <div class="plan-description-price">
          $45 <span class="plan-description-price-after">/ single document</span>
        </div>
      </div>
    </div>
  </div>


  <!-- Search documents -->
  <div class="col-md-4">
    <%= render 'layouts/side_widget' %>
  </div>
</div>
