.exports-buttons-margin{
  margin-top: 25px;
}
.icon_style {
  float: right;
  margin-right: 6px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  cursor: pointer;
}

.icon_style:hover{
  color: #006dcc;
}
