.logins-buttons {
  background-color: #eee;
  padding: 15px;
  border: none gainsboro;
  font-size: 15px;
  font-weight: bold;
}

.logins-form {
  border: 1px solid gainsboro;
  padding: 15px;
}

.form-width {
  width: 100%
}

span.help-block {
  font-style: italic;
  font-size: 13px;
}

.logins-btns-width {
  width: 200px;
  height: 45px;
}

.after-agreement{
  margin-bottom: 15px;
}

.tos-line {
  font-size: 13px;
  font-style: italic;
}


.control-group {
  margin-bottom: 10px;
}

.google-sign-in {
  margin-top: 15px;
}


.btn.btn-google-sign-in {
  background-image: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
  width: 200px;
  height: 45px;
}


.btn-google-sign-in div {
  background: transparent url('GoogleOmniAuth.png') no-repeat;
  background-size: 191px 47px;
  background-position: -14px -3px;
  width: 23px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.modal-dialog{
  overflow-y: initial;
}

.modal-body{
  max-height: 75vh;
  overflow-y: auto;
}
