.dm_settings_section h3 {
  margin-bottom: 20px;
  border-bottom: #dfdfdf 1px solid;
  padding-bottom: 5px;
  font-weight: 700;
}

.dm_settings_section {
  margin-bottom: 50px;
}

.dm_settings_section_heading h3 {
  font-weight: 700;
  border-bottom: #dfdfdf 1px solid;
  padding-bottom: 5px;
}