<footer>
  <div class="container">
    <div class="row">

      <!-- Left 6 column -->
      <div class="col-md-3">
        <div class="footer-logo-list">

          <!-- Footer Logo -->
<!--          <div class="logo-footer"></div>-->

          <!-- Footer Links -->
          <div class="footer-ul-li">
            <ul>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">FAQ (Frequently Asked Questions)</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Right 6 column -->
      <div class="col-md-3 mobile-center">
        <div class="footer-rating-list">
          <!-- Ratting Bades -->
          <ul class="no_ul_appearance">
            <li id="custom_html-2" class="widget_text widget widget_custom_html">
              <div class="textwidget custom-html-widget">
                <!-- Begin widget code -->
                <div data-rw-badge1="19884">
                  <rw-widget-badge1 data-rw-badge1="19884" class="hydrated rw-badge fixed"></rw-widget-badge1>
                </div>
                <script>
                    var script = document.createElement("script");
                    script.type = "module";
                    script.src = "https://widgets.thereviewsplace.com/2.0/rw-widget-badge1.js";
                    document.getElementsByTagName("head")[0].appendChild(script);</script>
                <!-- End widget code -->
              </div>
            </li>
            <li id="custom_html-3" class="widget_text widget widget_custom_html">
              <div class="textwidget custom-html-widget">
                <!-- Begin widget code -->
                <div data-rw-badge1="19882">
                  <rw-widget-badge1 data-rw-badge1="19882" class="hydrated rw-badge fixed"></rw-widget-badge1>
                </div>
                <script>var script = document.createElement("script");
                script.type = "module";
                script.src = "https://widgets.thereviewsplace.com/2.0/rw-widget-badge1.js";
                document.getElementsByTagName("head")[0].appendChild(script);
                </script>
                <!-- End widget code -->
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</footer>